<style  type="text/css"> 
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111-003/V003 (Fall 2022)<br>Introduction to Databases
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 4: Both Tracks
</span>
</center></i>

## Setup Environment

### MySQL

In [1]:
%load_ext sql

In [2]:
import pymysql

In [93]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [4]:
#
# Note that your list of databases will be different.
#
%sql show databases;

 * mysql+pymysql://root:***@localhost
24 rows affected.

[('classicmodels',),
 ('db_book',),
 ('f22_DB',),
 ('f22_db_midterm',),
 ('f22_e6156',),
 ('f22_hw1_got',),
 ('f22_hw1_got_clean',),
 ('f22_hw1_got_programming',),
 ('f22_hw4',),
 ('F22_IMDB_Fixed',),
 ('f22_imdb_improved',),
 ('F22_IMDB_Raw',),
 ('f22_midterm',),
 ('f22_project',),
 ('information_schema',),
 ('lahman_dump',),
 ('lahmansbaseballdb_demo',),
 ('lahmansdb2022',),
 ('mysql',),
 ('NewYorkGuardNew',),
 ('NYGBackup',),
 ('performance_schema',),
 ('sys',),
 ('w4111_f22_hw4',)]

### Neo4j

- This section assume that you have set up Neo4j on Aura DB, installed the Movie database and that your interest is running. If you do not use your instance for a while, Aura suspends it. You will have to login and restart it.


- Since these are cloud databases, I put my credentials in a file instead of a notebook that I share with everyone and place on GitHub. You will have to set the correct information for your instances.

In [5]:
import sys
sys.path.append('/Users/donaldferguson/Dropbox/00NewProjects/F22-W4111-HW4')

In [6]:
import my_secrets

- You may have to install ```py2neo``` using pip or Conda.

In [ ]:
# !pip install py2neo

In [7]:
from py2neo import Graph

In [8]:
aura_url = my_secrets.aura_url
aura_user = my_secrets.aura_user
aura_pw = my_secrets.aura_pw

In [9]:
def t1():
    graph = Graph(aura_url, auth=(aura_user, aura_pw))
    q = "match (r:Person) where r.name='Tom Hanks' return r"
    res = graph.run(q)

    for r in res:
        print(r)

In [10]:
t1()

Node('Person', born=1956, name='Tom Hanks')

### MongoDB

- This section assume that you have set up MongoDB on Atlas.


- You need to follow instructions to enable connecting from a remote [Python application.](https://www.mongodb.com/docs/atlas/tutorial/connect-to-your-cluster/)


- You also need to pip/Conda install pymongo.


- You will have to your URL for connecting.

In [ ]:
#!pip install pymongo

In [11]:
import pymongo

In [12]:
def connect():
    client = pymongo.MongoClient(
        my_secrets.mongodb_url
    )
    return client


def t_connect():
    c = connect()
    print("Databases = ", list(c.list_databases()))

In [13]:
# Your list of databases will be different. It may, be empty.
t_connect()

Databases =  [{'name': 'GoT', 'sizeOnDisk': 540672, 'empty': False}, {'name': 'GoTR', 'sizeOnDisk': 495616, 'empty': False}, {'name': 'classicmodels', 'sizeOnDisk': 262144, 'empty': False}, {'name': 'cool_db', 'sizeOnDisk': 90112, 'empty': False}, {'name': 'mydb', 'sizeOnDisk': 106496, 'empty': False}, {'name': 'mydbd', 'sizeOnDisk': 49152, 'empty': False}, {'name': 's22_final', 'sizeOnDisk': 81920, 'empty': False}, {'name': 'sss', 'sizeOnDisk': 40960, 'empty': False}, {'name': 'testdb', 'sizeOnDisk': 73728, 'empty': False}, {'name': 'xc2601', 'sizeOnDisk': 45056, 'empty': False}, {'name': 'xc2601_final', 'sizeOnDisk': 45056, 'empty': False}, {'name': 'zz2870', 'sizeOnDisk': 135168, 'empty': False}, {'name': 'zz2870_final', 'sizeOnDisk': 94208, 'empty': False}, {'name': 'admin', 'sizeOnDisk': 344064, 'empty': False}, {'name': 'local', 'sizeOnDisk': 17289359360, 'empty': False}]

- The following will do some additional testing.

In [14]:
client = pymongo.MongoClient(
        my_secrets.mongodb_url
    )

In [15]:
client["testdb"]["testcollection"].insert_one(
    {
        "class": "W4111",
        "is_cool": True
    }
)

In [16]:
client["testdb"]["testcollection"].insert_one(
    {
        "professor": "Ferguson",
        "is_cool": "Seriously? Are you kidding me? Heck NO!"
    }
)

In [17]:
res = client["testdb"]["testcollection"].find()

In [18]:
some_info = list(res)
some_info

[{'_id': ObjectId('638f9b67065c601297c84727'),
  'class': 'W4111',
  'is_cool': True},
 {'_id': ObjectId('638f9b87065c601297c84728'),
  'professor': 'Ferguson',
  'is_cool': 'Seriously? Are you kidding me? Heck NO!'},
 {'_id': ObjectId('638fb9dd1996987032cc064a'),
  'class': 'W4111',
  'is_cool': True},
 {'_id': ObjectId('638fb9e01996987032cc064b'),
  'professor': 'Ferguson',
  'is_cool': 'Seriously? Are you kidding me? Heck NO!'}]

## Common Tasks for Both Tracks

### Load MongoDB Atlas

- The project contains two files: ```data/characters.json``` and ```data/episodes.json```.


- The following code snippets will load the information into lists. This is a little tricky because we need to extract the embedded array from the JSON object.

In [19]:
import json

In [20]:
with open ("data/characters.json") as in_file:
    characters = json.load(in_file)

In [21]:
characters = characters['characters']

In [22]:
characters[0:2]

[{'characterName': 'Addam Marbrand',
  'characterLink': '/character/ch0305333/',
  'actorName': 'B.J. Hogg',
  'actorLink': '/name/nm0389698/'},
 {'characterName': 'Aegon Targaryen',
  'houseName': 'Targaryen',
  'royal': True,
  'parents': ['Elia Martell', 'Rhaegar Targaryen'],
  'siblings': ['Rhaenys Targaryen', 'Jon Snow'],
  'killedBy': ['Gregor Clegane']}]

In [23]:
with open ("data/episodes.json") as in_file:
    episodes = json.load(in_file)

In [24]:
episodes = episodes['episodes']

- You now have two lists in the notebook. Save the documents in the array to Atlas using databases name ```hw4```. You must write Python code using ```pymongo``` to load the data.


- Put your code in the cells below and execute it.

In [36]:
# Your code here.

- The following code will test that you have loaded the information.

In [32]:
ep = client['hw4']['episodes'].find_one(
    {"seasonNum": 1, "episodeNum": 1}
)

In [33]:
ep

{'_id': ObjectId('638fbcb41996987032cc07d1'),
 'seasonNum': 1,
 'episodeNum': 1,
 'episodeTitle': 'Winter Is Coming',
 'episodeLink': '/title/tt1480055/',
 'episodeAirDate': '2011-04-17',
 'episodeDescription': "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.",
 'openingSequenceLocations': ["King's Landing",
  'Winterfell',
  'The Wall',
  'Pentos'],
 'scenes': [{'sceneStart': '0:00:40',
   'sceneEnd': '0:01:45',
   'location': 'The Wall',
   'subLocation': 'Castle Black',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:01:45',
   'sceneEnd': '0:03:24',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:03:24',
   'sceneEnd': '0:03:31',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'},
    {'name': 'Wight Wildling Girl', 'alive': False}]},
  {'sceneStart': '0:03:31',
   'sceneEnd': '0:03:38',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:03:38',
   'sceneEnd': '0:03:44',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': []},
  {'sceneStart': '0:03:44',
   'sceneEnd': '0:05:36',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:05:36',
   'sceneEnd': '0:05:41',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:05:41',
   'sceneEnd': '0:05:48',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'}, {'name': 'Waymar Royce'}]},
  {'sceneStart': '0:05:48',
   'sceneEnd': '0:05:58',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:05:58',
   'sceneEnd': '0:06:21',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce',
     'alive': False,
     'mannerOfDeath': 'Back stab',
     'killedBy': ['White Walker']},
    {'name': 'White Walker'}]},
  {'sceneStart': '0:06:21',
   'sceneEnd': '0:06:39',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:06:39',
   'sceneEnd': '0:06:49',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}, {'name': 'Wight Wildling Girl'}]},
  {'sceneStart': '0:06:49',
   'sceneEnd': '0:07:45',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'},
    {'name': 'Gared',
     'alive': False,
     'mannerOfDeath': 'Decapitation',
     'killedBy': ['White Walker']},
    {'name': 'White Walker'}]},
  {'sceneStart': '0:09:27',
   'sceneEnd': '0:12:38',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Will'},
    {'name': 'Jon Snow'},
    {'name': 'Bran Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Rickon Stark'},
    {'name': 'Sansa Stark'},
    {'name': 'Arya Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Septa Mordane'}]},
  {'sceneStart': '0:12:38',
   'sceneEnd': '0:15:41',
   'location': 'The North',
   'subLocation': 'Outside Winterfell',
   'characters': [{'name': 'Will',
     'alive': False,
     'mannerOfDeath': 'Decapitation',
     'killedBy': ['Eddard Stark']},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]},
    {'name': 'Robb Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Bran Stark'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Jory Cassel'},
    {'name': 'Jon Snow'}]},
  {'sceneStart': '0:15:41',
   'sceneEnd': '0:18:44',
   'location': 'The North',
   'subLocation': 'Outside Winterfell',
   'characters': [{'name': 'Jon Snow'},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]},
    {'name': 'Theon Greyjoy'},
    {'name': 'Bran Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Jory Cassel'},
    {'name': 'Grey Wind'},
    {'name': 'Lady'},
    {'name': 'Nymeria'},
    {'name': 'Summer'},
    {'name': 'Shaggydog'},
    {'name': 'Ghost'}]},
  {'sceneStart': '0:18:44',
   'sceneEnd': '0:20:45',
   'location': 'The Crownlands',
   'subLocation': "King's Landing",
   'characters': [{'name': 'Jon Arryn',
     'alive': False,
     'title': 'Hand',
     'mannerOfDeath': 'Poison',
     'killedBy': ['Lysa Arryn']},
    {'name': 'Cersei Lannister'},
    {'name': 'Jaime Lannister'}]},
  {'sceneStart': '0:20:45',
   'sceneEnd': '0:22:43',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]}]},
  {'sceneStart': '0:22:43',
   'sceneEnd': '0:23:09',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'}, {'name': 'Maester Luwin'}]},
  {'sceneStart': '0:23:09',
   'sceneEnd': '0:23:39',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robb Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Jon Snow'}]},
  {'sceneStart': '0:23:39',
   'sceneEnd': '0:29:16',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Bran Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Maester Luwin'},
    {'name': 'Summer'},
    {'name': 'Arya Stark'},
    {'name': 'Joffrey Baratheon',
     'weapon': [{'action': 'has', 'name': "Lion's Tooth"}]},
    {'name': 'Sandor Clegane'},
    {'name': 'Rickon Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Sansa Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Jon Snow'},
    {'name': 'Jory Cassel'},
    {'name': 'Hodor'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Cersei Lannister'},
    {'name': 'Jaime Lannister'},
    {'name': 'Myrcella Baratheon'},
    {'name': 'Tommen Baratheon'}]},
  {'sceneStart': '0:29:16',
   'sceneEnd': '0:30:47',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Eddard Stark'}]},
  {'sceneStart': '0:30:47',
   'sceneEnd': '0:32:57',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Jaime Lannister'},
    {'name': 'Tyrion Lannister',
     'sex': {'with': ['Ros'], 'type': 'paid', 'when': 'present'}},
    {'name': 'Ros',
     'sex': {'with': ['Tyrion Lannister'],
      'type': 'paid',
      'when': 'present'}}]},
  {'sceneStart': '0:32:57',
   'sceneEnd': '0:33:45',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Eddard Stark'}]},
  {'sceneStart': '0:33:45',
   'sceneEnd': '0:36:17',
   'location': 'Pentos',
   'characters': [{'name': 'Daenerys Targaryen'},
    {'name': 'Viserys Targaryen'}]},
  {'sceneStart': '0:36:17',
   'sceneEnd': '0:38:23',
   'location': 'Pentos',
   'characters': [{'name': 'Daenerys Targaryen'},
    {'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Khal Drogo', 'title': 'Khal'},
    {'name': 'Qotho'}]},
  {'sceneStart': '0:38:23',
   'sceneEnd': '0:40:05',
   'location': 'Pentos',
   'characters': [{'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Daenerys Targaryen'}]},
  {'sceneStart': '0:40:05',
   'sceneEnd': '0:40:56',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'}, {'name': 'Sansa Stark'}]},
  {'sceneStart': '0:40:56',
   'sceneEnd': '0:41:19',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Catelyn Stark'},
    {'name': 'Cersei Lannister'},
    {'name': 'Rodrik Cassel'}]},
  {'sceneStart': '0:41:19',
   'sceneEnd': '0:44:14',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Jon Snow'},
    {'name': 'Benjen Stark'},
    {'name': 'Tyrion Lannister'}]},
  {'sceneStart': '0:44:14',
   'sceneEnd': '0:47:28',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Rodrik Cassel'},
    {'name': 'Benjen Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Catelyn Stark'},
    {'name': 'Cersei Lannister'},
    {'name': 'Sansa Stark'},
    {'name': 'Joffrey Baratheon'},
    {'name': 'Jaime Lannister'},
    {'name': 'Arya Stark'},
    {'name': 'Theon Greyjoy'}]},
  {'sceneStart': '0:47:28',
   'sceneEnd': '0:50:29',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Eddard Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Maester Luwin'}]},
  {'sceneStart': '0:50:29',
   'sceneEnd': '0:56:05',
   'location': 'Pentos',
   'characters': [{'name': 'Khal Drogo',
     'title': 'Khal',
     'married': {'to': 'Daenerys Targaryen',
      'when': 'present',
      'type': 'arranged',
      'consummated': True}},
    {'name': 'Daenerys Targaryen',
     'title': 'Khaleesi',
     'married': {'to': 'Khal Drogo',
      'when': 'present',
      'type': 'arranged',
      'consummated': True}},
    {'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Qotho'},
    {'name': 'Jorah Mormont'},
    {'name': 'Drogon', 'born': False},
    {'name': 'Rhaegal', 'born': False},
    {'name': 'Viserion', 'born': False}]},
  {'sceneStart': '0:56:05',
   'sceneEnd': '0:57:48',
   'location': 'Pentos',
   'characters': [{'name': 'Khal Drogo',
     'title': 'Khal',
     'sex': {'with': ['Daenerys Targaryen'],
      'when': 'present',
      'type': 'rape'}},
    {'name': 'Daenerys Targaryen',
     'title': 'Khaleesi',
     'sex': {'with': ['Khal Drogo'], 'when': 'present', 'type': 'rape'}}]},
  {'sceneStart': '0:57:48',
   'sceneEnd': '0:59:06',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Tyrion Lannister'},
    {'name': 'Sandor Clegane'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Eddard Stark'},
    {'name': 'Benjen Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Bran Stark'},
    {'name': 'Summer'}]},
  {'sceneStart': '0:59:06',
   'sceneEnd': '1:00:57',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Bran Stark'},
    {'name': 'Summer'},
    {'name': 'Jaime Lannister',
     'sex': {'with': ['Cersei Lannister'], 'when': 'present', 'type': 'love'}},
    {'name': 'Cersei Lannister',
     'sex': {'with': ['Jaime Lannister'],
      'when': 'present',
      'type': 'love'}}]}]}

In [34]:
cc = client['hw4']['characters'].find_one(
    {"characterName": "Sansa Stark"}
)

In [35]:
cc

{'_id': ObjectId('638fbbac1996987032cc0778'),
 'characterName': 'Sansa Stark',
 'houseName': 'Stark',
 'characterImageThumb': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1._SX100_SY140_.jpg',
 'characterImageFull': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1_SY1000_CR0,0,806,1000_AL_.jpg',
 'characterLink': '/character/ch0158137/',
 'actorName': 'Sophie Turner',
 'actorLink': '/name/nm3849842/',
 'royal': True,
 'siblings': ['Robb Stark', 'Arya Stark', 'Bran Stark', 'Rickon Stark'],
 'marriedEngaged': ['Joffrey Baratheon', 'Tyrion Lannister', 'Ramsay Snow'],
 'guardedBy': ['Lady'],
 'parents': ['Eddard Stark', 'Catelyn Stark']}

### Load MySQL

- The ```data``` directory contains 5 CSV files:
    - ```got_cast.csv```
    - ```got_cast_details.csv```
    - ```got_episodes.csv```
    - ```got_title_ratings.csv```
    - ```got_title_cast.csv```
    
    
- Create a MySQL databases ```w4111_f22_hw4``` and load the CSV files. You should use Pandas to load and save the information.


- Put your code in the cells below and execute it.

- The following will test your loading.

In [37]:
%sql select * from w4111_f22_hw4.got_cast limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('tt1480055', '10', 'nm0230361', 'producer', 'producer', None),
 ('tt1480055', '1', 'nm0000293', 'actor', None, '["Eddard \'Ned\' Stark"]'),
 ('tt1480055', '2', 'nm0004692', 'actor', None, '["Robert Baratheon"]'),
 ('tt1480055', '3', 'nm0182666', 'actor', None, '["Jaime Lannister"]'),
 ('tt1480055', '4', 'nm0265610', 'actress', None, '["Catelyn Stark"]'),
 ('tt1480055', '5', 'nm0887700', 'director', None, None),
 ('tt1480055', '6', 'nm1125275', 'writer', 'created by', None),
 ('tt1480055', '7', 'nm1888967', 'writer', 'created by', None),
 ('tt1480055', '8', 'nm0552333', 'writer', 'based on "A Song of Ice and Fire" by', None),
 ('tt1480055', '9', 'nm0122251', 'producer', 'producer', None)]

In [38]:
%sql select * from w4111_f22_hw4.got_cast_details limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('nm0230361', 'Frank Doelger', None, None, 'producer,director,writer', 'tt0985040,tt0139780,tt0944947,tt0202179'),
 ('nm0000293', 'Sean Bean', '1959', None, 'actor,producer,animation_department', 'tt1181791,tt0944947,tt0120737,tt0167261'),
 ('nm0004692', 'Mark Addy', '1964', None, 'actor,soundtrack', 'tt0183790,tt0944947,tt0119164,tt0955308'),
 ('nm0182666', 'Nikolaj Coster-Waldau', '1970', None, 'actor,producer,writer', 'tt0110631,tt1483013,tt0944947,tt2404233'),
 ('nm0265610', 'Michelle Fairley', '1963', None, 'actress', 'tt2431286,tt0944947,tt1390411,tt11188010'),
 ('nm0887700', 'Timothy Van Patten', '1959', None, 'director,actor,producer', 'tt0083739,tt0979432,tt0374463,tt0141842'),
 ('nm1125275', 'David Benioff', '1970', None, 'producer,writer,director', 'tt1025100,tt0944947,tt0419887,tt0307901'),
 ('nm1888967', 'D.B. Weiss', '1971', None, 'writer,producer,director', 'tt11547156,tt12141112,tt3677548,tt0944947'),
 ('nm0552333', 'George R.R. Martin', '1948', None, 'writer,producer,miscellaneous', 'tt0944947,tt11198330,tt0088634,tt0092319'),
 ('nm0122251', 'Jo Burn', None, None, 'miscellaneous,production_manager,producer', 'tt1596342,tt4530422,tt5697572,tt2798920')]

In [39]:
%sql select * from w4111_f22_hw4.got_episodes limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(1, 1, 'Winter Is Coming', '/title/tt1480055/', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army."),
 (1, 2, 'The Kingsroad', '/title/tt1668746/', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them."),
 (1, 3, 'Lord Snow', '/title/tt1829962/', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm."),
 (1, 4, 'Cripples, Bastards, and Broken Things', '/title/tt1829963/', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch."),
 (1, 5, 'The Wolf and the Lion', '/title/tt1829964/', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.'),
 (1, 6, 'A Golden Crown', '/title/tt1837862/', '2011-05-22', 'While recovering from his battle with Jaime, Eddard is forced to run the kingdom while Robert goes hunting. Tyrion demands a trial by combat for his freedom. Viserys is losing his patience with Drogo.'),
 (1, 7, 'You Win or You Die', '/title/tt1837863/', '2011-05-29', "Robert has been injured while hunting and is dying. Jon and the others finally take their vows to the Night's Watch. A man, sent by Robert, is captured for trying to poison Daenerys. Furious, Drogo vows to attack the Seven Kingdoms."),
 (1, 8, 'The Pointy End', '/title/tt1837864/', '2011-06-05', 'Eddard and his men are betrayed and captured by the Lannisters. When word reaches Robb, he plans to go to war to rescue them. The White Walkers attack The Wall. Tyrion returns to his father with some new friends.'),
 (1, 9, 'Baelor', '/title/tt1851398/', '2011-06-12', "Robb goes to war against the Lannisters. Jon finds himself struggling on deciding if his place is with Robb or the Night's Watch. Drogo has fallen ill from a fresh battle wound. Daenerys is desperate to save him."),
 (1, 10, 'Fire and Blood', '/title/tt1851397/', '2011-06-19', "With Ned dead, Robb vows to get revenge on the Lannisters. Jon must officially decide if his place is with Robb or the Night's Watch. Daenerys says her final goodbye to Drogo.")]

In [40]:
%sql select * from w4111_f22_hw4.got_title_ratings limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('tt1480055', 8.9, 48686),
 ('tt1480055', 8.9, 48686),
 ('tt1668746', 8.6, 36837),
 ('tt1668746', 8.6, 36837),
 ('tt1829962', 8.5, 34863),
 ('tt1829962', 8.5, 34863),
 ('tt1829963', 8.6, 33136),
 ('tt1829963', 8.6, 33136),
 ('tt1829964', 9.0, 34436),
 ('tt1829964', 9.0, 34436)]

In [94]:
%sql select * from w4111_f22_hw4.got_title_cast limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('nm0000293', 'tt1480055', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1480055', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1480055', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1668746', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1668746', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1668746', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1829962', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1829962', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1829962', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1829963', '["Eddard \'Ned\' Stark"]')]

### Load Neo4j

- You are now going to load some information into Neo4j. Specifically, the Game of Thrones episodes, the Game of Thrones cast, and the Game of Thrones title-cast information.


- You can load the data into the notebook from the RDB using Pandas and SQLAlchemy.


- You will use ```py2neo``` to do the loading into Neo4j. The functions are later in the notebook.


- I decided to make this easier and give you some helper functions instead of having you figure it out by yourself.

#### Load SQL into DataFrames

In [56]:
# Put your code here to read the data.
#

In [95]:
import pandas

In [96]:
from sqlalchemy import create_engine

In [98]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

- The following tests whether or not your loading worked.

In [150]:
episodes_df

,seasonNum,episodeNum,episodeTitle,tconst,episodeAirDate,episodeDescription
0,1,1,Winter Is Coming,tt1480055,2011-04-17,"Jon Arryn, the Hand of the King, is dead. King..."
1,1,2,The Kingsroad,tt1668746,2011-04-24,"While Bran recovers from his fall, Ned takes o..."
2,1,3,Lord Snow,tt1829962,2011-05-01,Lord Stark and his daughters arrive at King's ...
3,1,4,"Cripples, Bastards, and Broken Things",tt1829963,2011-05-08,Eddard investigates Jon Arryn's murder. Jon be...
4,1,5,The Wolf and the Lion,tt1829964,2011-05-15,Catelyn has captured Tyrion and plans to bring...
...,...,...,...,...,...,...
68,8,2,A Knight of the Seven Kingdoms,tt6027908,2019-04-21,The battle at Winterfell is approaching. Jaime...
69,8,3,The Long Night,tt6027912,2019-04-28,The Night King and his army have arrived at Wi...
70,8,4,The Last of the Starks,tt6027914,2019-05-05,"In the wake of a costly victory, Jon and Daene..."
71,8,5,The Bells,tt6027916,2019-05-12,Daenerys and Cersei weigh their options as an ...
72,8,6,The Iron Throne,tt6027920,2019-05-19,In the aftermath of the devastating attack on ...

In [152]:
cast_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0230361,Frank Doelger,None,None,"producer,director,writer","tt0985040,tt0139780,tt0944947,tt0202179"
1,nm0000293,Sean Bean,1959,None,"actor,producer,animation_department","tt1181791,tt0944947,tt0120737,tt0167261"
2,nm0004692,Mark Addy,1964,None,"actor,soundtrack","tt0183790,tt0944947,tt0119164,tt0955308"
3,nm0182666,Nikolaj Coster-Waldau,1970,None,"actor,producer,writer","tt0110631,tt1483013,tt0944947,tt2404233"
4,nm0265610,Michelle Fairley,1963,None,actress,"tt2431286,tt0944947,tt1390411,tt11188010"
5,nm0887700,Timothy Van Patten,1959,None,"director,actor,producer","tt0083739,tt0979432,tt0374463,tt0141842"
6,nm1125275,David Benioff,1970,None,"producer,writer,director","tt1025100,tt0944947,tt0419887,tt0307901"
7,nm1888967,D.B. Weiss,1971,None,"writer,producer,director","tt11547156,tt12141112,tt3677548,tt0944947"
8,nm0552333,George R.R. Martin,1948,None,"writer,producer,miscellaneous","tt0944947,tt11198330,tt0088634,tt0092319"
9,nm0122251,Jo Burn,None,None,"miscellaneous,production_manager,producer","tt1596342,tt4530422,tt5697572,tt2798920"
10,nm0400240,Mark Huffam,None,None,"producer,production_manager,assistant_director","tt11214590,tt3659388,tt0120815,tt11138512"
11,nm1047532,Brian Kirk,1968,None,"director,producer","tt0944947,tt1474684,tt8688634,tt1949720"
12,nm2643685,Bryan Cogman,1979,None,"producer,miscellaneous,writer","tt0944947,tt4872762,tt2207542"
13,nm0372176,Lena Headey,1973,None,"actress,producer,soundtrack","tt0944947,tt1374989,tt0416449,tt1343727"
14,nm0590889,Daniel Minahan,None,None,"director,producer,writer","tt0944947,tt2788432,tt1856010,tt0251031"
15,nm0260870,Jane Espenson,1964,None,"producer,writer,miscellaneous","tt0118276,tt1338724,tt2056091,tt0944947"
16,nm3592338,Emilia Clarke,1986,None,"actress,soundtrack","tt2674426,tt3778644,tt0944947,tt1340138"
17,nm0851930,Alan Taylor,1965,None,"director,producer,writer","tt0944947,tt0282768,tt1981115,tt1340138"
18,nm1014697,Ramin Djawadi,1974,None,"composer,soundtrack,music_department","tt0944947,tt0475784,tt0371746,tt1663662"
19,nm0227759,Peter Dinklage,1969,None,"actor,producer,soundtrack","tt0944947,tt1877832,tt0340377,tt5027774"
20,nm0146529,Bernadette Caulfield,None,None,"producer,production_manager,miscellaneous","tt12141112,tt0944947,tt0421030,tt0106179"
21,nm0318821,Aidan Gillen,1968,None,"actor,writer,producer","tt4500922,tt4046784,tt1345836,tt0944947"
22,nm0002399,Alik Sakharov,1959,None,"cinematographer,director,producer","tt1856010,tt5071412,tt0141842,tt0944947"
23,nm0007008,David Petrarca,None,None,"director,producer","tt0421030,tt0844441,tt0944947,tt5743796"
24,nm0961827,Vanessa Taylor,None,None,"producer,writer,miscellaneous","tt0944947,tt1840309,tt6772802,tt5580390"
25,nm0638354,David Nutter,1960,None,"director,producer,soundtrack","tt0112173,tt0374463,tt0944947,tt3107288"
26,nm0001097,Charles Dance,1946,None,"actor,director,writer","tt0944947,tt0107362,tt2084970,tt0280707"
27,nm0192377,Liam Cunningham,1961,None,"actor,director,producer","tt0944947,tt0800320,tt0460989,tt0986233"
28,nm0551076,Neil Marshall,1970,None,"producer,director,writer","tt0483607,tt9182964,tt0280609,tt0435625"
29,nm0817770,Greg Spence,None,None,"producer,production_manager,editorial_department","tt0460829,tt0944947,tt0411951,tt0416044"
30,nm3229685,Kit Harington,1986,None,"actor,writer,producer","tt9032400,tt1921064,tt0938330,tt0944947"
31,nm0628040,Christopher Newman,1955,None,"assistant_director,producer,miscellaneous","tt0120915,tt0107943,tt0185906,tt0944947"
32,nm0336241,Alex Graves,None,None,"producer,director,writer","tt0200276,tt0112746,tt3595806,tt0944947"
33,nm0533713,Michelle MacLaren,1965,None,"producer,director,production_manager","tt4998350,tt2953250,tt0944947,tt0903747"
34,nm0322513,Iain Glen,1961,None,"actor,producer,soundtrack","tt6954652,tt0944947,tt6859806,tt10370380"
35,nm0534635,Richard Madden,1986,None,"actor,producer,soundtrack","tt2066051,tt2368619,tt0944947,tt1661199"
36,nm4263213,John Bradley,1988,None,"actor,soundtrack","tt5451690,tt0944947,tt5834426,tt10223460"
37,nm2356940,Hannah Murray,1989,None,"actress,soundtrack","tt5390504,tt4180576,tt2141751,tt0944947"
38,nm3310211,Rose Leslie,1987,None,actress,"tt1618442,tt0944947,tt4520364,tt3177316"
39,nm0806252,Michael Slovis,None,None,"cinematographer,producer,director","tt7817340,tt0981227,tt0247082,tt0903747"
40,nm4984276,Dave Hill,None,None,"miscellaneous,writer,producer","tt7937220,tt7462410,tt0944947,tt3391176"
41,nm0617042,Mark Mylod,None,None,"director,producer,miscellaneous","tt0944947,tt7660850,tt1586680,tt2699110"
42,nm0226820,Stephen Dillane,1957,None,actor,"tt0944947,tt0266987,tt0274558,tt4555426"
43,nm0687964,Jeremy Podeswa,1962,None,"director,miscellaneous,writer","tt10574236,tt5834204,tt0374463,tt0944947"
44,nm0764601,Miguel Sapochnik,1974,None,"director,producer,writer","tt1053424,tt3420504,tt0944947,tt11198330"
45,nm1380874,Lisa McAtackney,None,None,"producer,production_manager,miscellaneous","tt0944947,tt0804552,tt0465670,tt0774030"
46,nm0755261,Daniel Sackheim,None,None,"producer,director,editorial_department","tt0120902,tt0412142,tt0221218,tt2356777"
47,nm0070474,Jack Bender,1949,None,"director,producer,actor","tt0411008,tt0944947,tt0285333,tt0103956"
48,nm1754059,Natalie Dormer,1982,None,"actress,writer,producer","tt10361016,tt0944947,tt0758790,tt1951266"
49,nm0787687,Matt Shakman,1975,None,"director,producer,actor","tt9140560,tt0944947,tt0472954,tt2235759"
50,nm2977599,Gursimran Sandhu,1986,None,"miscellaneous,writer,director","tt2561572,tt1910550,tt0944947,tt9737326"
51,nm7260047,Ethan J. Antonucci,None,None,"miscellaneous,writer",tt0944947

In [154]:
titles_cast_df

        nconst     tconst              characters
0    nm0000293  tt1480055  ["Eddard 'Ned' Stark"]
1    nm0004692  tt1480055    ["Robert Baratheon"]
2    nm0182666  tt1480055     ["Jaime Lannister"]
3    nm0000293  tt1668746  ["Eddard 'Ned' Stark"]
4    nm0004692  tt1668746    ["Robert Baratheon"]
..         ...        ...                     ...
160  nm0182666  tt6027914     ["Jaime Lannister"]
161  nm0227759  tt6027916    ["Tyrion Lannister"]
162  nm0182666  tt6027916     ["Jaime Lannister"]
163  nm0227759  tt6027920    ["Tyrion Lannister"]
164  nm0182666  tt6027920     ["Jaime Lannister"]

[165 rows x 3 columns]

#### Load Data into Neo4j

In [123]:
# Up until now, we have been directly using query languages to interact with databases.
# There are many higher layer language libraries that make using the databases "simpler."
# I avoided using these libraries because they obscure what is happening and hide the query language.
# Learning the query language(s) is important.
#
# py2neo and other tools provide an "object-mapping" layers that maps between the data in the databases
# and classes/objects in the programming language you are using. py2neo implements classes Node and Relationship.
#
from py2neo.data import Node, Relationship

In [124]:
graph = Graph(aura_url, auth=(aura_user, aura_pw))

- The following are a couple of helper functions that will simplify the homework.

In [125]:
# The matcher classes simplify using the query language from withon Python and classes.
#
from py2neo.matching import *

In [163]:
def get_nodes(label, template):
    """
    
    :param label: The label of the node
    :template: A dictionary of property, value pairs to match.
    :return: A list of matching nodes.
    """
    nodes = NodeMatcher(graph)
    the_match = nodes.match(label, **template)
    result = []
    for n in the_match:
        result.append(n)
    return result

In [135]:
keanu = get_nodes("Person", { "name": "Keanu Reeves" })

In [136]:
keanu

[Node('Person', born=1964, name='Keanu Reeves')]

In [137]:
def create_node(n):
    """
    :template: A py2neo Node
    :return: None
    """
    tx = graph.begin()
    tx.create(n)
    graph.commit(tx)

In [143]:
# Create an GOT_Actor node.
# 
sb = Node('GOT_Actor', name="Sean Bean", nconst="nm0000293", born=1959)

In [144]:
create_node(sb)

In [145]:
mf = Node('GOT_Actor', name="Michelle Fairley", nconst="nm0265610", born=1963)
create_node(mf)

In [146]:
# Get what we created.
got_a = get_nodes('GOT_Actor', {})

In [147]:
got_a

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293'),
 Node('GOT_Actor', born=1963, name='Michelle Fairley', nconst='nm0265610')]

In [158]:
# Create an episode.
episode_data = {'seasonNum': 1,
  'episodeNum': 1,
  'episodeTitle': 'Winter Is Coming',
  'tconst': 'tt1480055',
  'episodeAirDate': '2011-04-17',
  'episodeDescription': "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army."
}
episode_node = Node("GOT_Episode", **episode_data)

In [159]:
create_node(episode_node)

- From the table ```got_title_cast```, we can find out how acted in what episodes and roles.


- A little probing shows that Sean Bean and Michelle Fairley were in season 1, episode 1.


- So, I can create a relationship.

In [166]:
ep = get_nodes("GOT_Episode", {"seasonNum": 1, "episodeNum": 1})
ep[0]["tconst"]

'tt1480055'

In [169]:
sb = get_nodes("GOT_Actor", { "nconst": "nm0000293"})
sb

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293')]

In [171]:
mf = get_nodes("GOT_Actor", { "nconst": "nm0265610"})
mf

[Node('GOT_Actor', born=1963, name='Michelle Fairley', nconst='nm0265610')]

In [173]:
sb_roles = %sql select characters from w4111_f22_hw4.got_title_cast where \
    nconst='nm0000293' and tconst='tt1480055'
sb_roles[0]["characters"]

 * mysql+pymysql://root:***@localhost
1 rows affected.

'["Eddard \'Ned\' Stark"]'

In [176]:
ep

[Node('GOT_Episode', episodeAirDate='2011-04-17', episodeDescription="Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", episodeNum=1, episodeTitle='Winter Is Coming', seasonNum=1, tconst='tt1480055')]

In [177]:
sb

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293')]

In [185]:
def create_relationship(source, label, target, properties):
    tx = graph.begin()
    r = Relationship(source, label, target)
    tx.create(r)
    graph.commit(tx)

In [186]:
r = create_relationship(sb[0], "GOT_Acted_In", ep[0], {"roles": ["Eddard 'Ned' Start"]})

In [187]:
r = create_relationship(mf[0], "GOT_Acted_In", ep[0], {"roles": ["Catelyn Stark"]})

- When I run a query in my Neo4j console, I get the following.

| <img src="./q_result.png"> |
| :--: |
| __Simple Query Result |

- Your task is to now use your skills and my helper code to load episodes, actors and relationships.


- Please put your code below, and then past some screenshots.

## Programming Track

- I am canceling the programming track. I will explain how to use what we just did in a web application, but piling on more work at this point would be cruel.

## Non-Programming Track

- I am canceling the non-programming track. I will explain how to use what we just did in data science, but piling on more work at this point would be cruel.